{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mb-4">
                {% if process == "connect" %}
                    <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
                    <p>{% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}</p>
                {% else %}
                    <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>
                    <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}</p>
                {% endif %}
            </div>
            <form method="post" class="form-signin">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block">{% trans "Continue" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
