{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    <div class="provider-list">
        {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
                {% for brand in provider.get_brands %}
                    {% provider_login_url provider openid=brand.openid_url process=process as href %}
                    <a href="{{ href }}" class="btn btn-outline-primary btn-block mb-2">{{ brand.name }}</a>
                {% endfor %}
            {% endif %}
            {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
            <a href="{{ href }}" class="btn btn-outline-primary mb-2">{{ provider.name }}</a>
        {% endfor %}
    </div>
{% endif %}
