{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center mb-4">{% trans "Sign In" %}</h1>
                <p>
                    {% blocktrans %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> first.{% endblocktrans %}
                </p>
                {% url 'account_login' as login_url %}
                <form method="post" action="{{ login_url }}" class="form">
                    {% csrf_token %}
                    {{ form|crispy }}
{#                    <div class="form-group">#}
{#                        {% element fields form=form unlabeled=True %}#}
{#                        {% endelement %}#}
{#                    </div>#}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">{% trans "Sign In" %}</button>
                </form>
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            </div>
        </div>
    </div>
{% endblock content %}
