{% extends "account/base_manage_password.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-3 text-center">{% trans "Change Password" %}</h1>
            <form method="post" action="{% url 'account_change_password' %}" class="form-signin">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">{% trans "Change Password" %}</button>
                <div class="text-center mt-2">
                    <a href="{% url 'account_reset_password' %}" class="text-muted">{% trans "Forgot Password?" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
