{% extends 'base.html' %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}{% endblock head_title %}
        </title>
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body>
        {% block body %}
{#            {% if messages %}#}
{#                <div class="container mt-3">#}
{#                    {% for message in messages %}#}
{#                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">#}
{#                            {{ message }}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}
            <div class="main-content">
                {% block content %}
                {% endblock content %}
            </div>
        {% endblock body %}
        {% block extra_body %}{% endblock extra_body %}
    </body>
</html>
